<ng-container *ngIf="loading">
  <ws-spinner></ws-spinner>
</ng-container>
<ng-container *ngIf="!loading">
  <app-panel-header title="{{'General Contacts' | translate}}"></app-panel-header>
  <app-panel title="{{'Contacts' | translate}}">
    <div class="container">
      <div class="row">
        <div class="col-3 font-weight-bold p-2">
          {{'First Name' | translate}}
        </div>
        <div class="col-3 font-weight-bold p-2">
          {{'Last Name' | translate}}
        </div>
        <div class="col-4 font-weight-bold p-2">
          {{'Email' | translate}}
        </div>
        <div class="col-2 font-weight-bold p-2">
          &nbsp;
        </div>
      </div>
      <ng-container *ngIf="generalContacts.length > 0">
        <ng-container *ngFor="let c of generalContacts">
          <hr class="my-2 mx-0"/>
          <div class="row">
            <div class="col-3 p-2">
              {{c.first_name}}
            </div>
            <div class="col-3 p-2">
              {{c.last_name}}
            </div>
            <div class="col-4 p-2">
              {{c.email}}
            </div>
            <div class="col-2 p-2 text-right">
              <app-panel-row-actions
                (delete)="unbindContact(c)"
                deleteLabel="{{'Remove' | translate}}"
              ></app-panel-row-actions>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="generalContacts.length === 0">
        <hr class="my-2 mx-0"/>
        <div class="row">
          <div class="col-12 p-2">
            {{'This Organization doesn\'t have any contacts' | translate}}
          </div>
        </div>
      </ng-container>
      <hr class="my-2 mx-0"/>
      <form class="form-horizontal" [ngClass]="{'was-validated': this.generalForm.submitted}" novalidate
            (ngSubmit)="submitGeneralForm()" #generalForm="ngForm" *ngIf="canEdit">
        <div class="row">
          <div class="col-10 p-2">
            <ng-select
              [wsSelect]="['id', renderContactName]"
              [asyncSearch]="search"
              name="contact"
              [ngModel]="null"
              placeholder="{{'Contact' | translate}}"
              [items]="people || []"
              [disabled]="loading"
              required
            ></ng-select>
          </div>
          <div class="col-2 p-2 text-right">
            <button class="btn btn-success btn-sm">{{'Add' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </app-panel>
</ng-container>
