<ws-header
  [currentUser]="authStatus.user"
  [appName]="'Organizations' | translate"
  (loginClick)="login()"
  (logoutClick)="logout()"
  [isLoggedIn]="authStatus.user && authStatus.isLoggedIn"
  [showLoginAndLogoutButtons]="true">
</ws-header>
<ws-puppeteer-banner [currentUser]="authStatus.user"></ws-puppeteer-banner>
<ws-staging-banner *ngIf="isStaging"></ws-staging-banner>

<div class="container small">
  <ng-container *ngIf="authStatus.authenticated">
    <ws-breadcrumbs
      *ngIf="showBreadcrumb"
      [showHomeItem]="true"
      [homeItemText]="'Members' | translate"
      [homeItemRoute]="'/members'">
    </ws-breadcrumbs>
    <div *ngIf="!showBreadcrumb" class="mt-5"></div>
    <div class="clearfix"></div>
    <ws-alert></ws-alert>
    <router-outlet></router-outlet>
  </ng-container>
  <ng-container *ngIf="!authStatus.authenticated">
    <div class="mt-4">
      <ws-spinner></ws-spinner>
    </div>
  </ng-container>
</div>

<ws-footer
  [currentUser]="authStatus.user"
  [isLoggedIn]="authStatus.user && authStatus.isLoggedIn"
  (loginClick)="login()"
  (logoutClick)="logout()"
  (languageChange)="changeLanguage($event)"
  [languages]="languages"
  [selectedLanguage]="language"
></ws-footer>
