<div class="card">
  <h5 class="card-header m-0">{{'Search Organizations' | translate}}</h5>
  <div class="card-body">
    <form class="form-horizontal" novalidate (ngSubmit)="searchClicked()" #form="ngForm">
    <fieldset [disabled]="loading">
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="text" placeholder="{{'Name' | translate}}" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <select class="form-control" [(ngModel)]="relation" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let orgRelation of orgRelations" value="{{ orgRelation.value }}">
              {{ orgRelation.label | translate }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <ng-select name="country" [(ngModel)]="country" placeholder="{{'Country' | translate}}"
                           bindLabel="name.text" bindValue="id"
                           [items]="countries || []"></ng-select>
        </div>
      </div>

      <div class="form-group row mb-0">
        <div class="col-sm-12 text-right">
          <button type="button" (click)="searchClicked()" class="btn btn-primary btn-sm" id="saveOrg" [disabled]="loading">
            <ng-container *ngIf="!loading">{{'Search' | translate}}</ng-container>
            <ng-container *ngIf="loading">
              <ws-spinner></ws-spinner>
            </ng-container>
          </button>&nbsp;
        </div>
      </div>
    </fieldset>
    </form>
  </div>
</div>
