<div class="card">
  <h5 class="card-header m-0">{{'Search Organizations' | translate}}</h5>
  <div class="card-body">
    <fieldset [disabled]="loading">
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="text" placeholder="{{'Name' | translate}}" class="form-control" [(ngModel)]="name">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <select class="form-control"[(ngModel)]="relation" >
            <option value="">{{ 'Any Relationship' | translate }}</option>
            <option value="GLOBAL_PARTNER">{{ 'Global Partner' | translate }}</option>
            <option value="NGO_PARTNER">{{ 'NGO Partner' | translate }}</option>
            <option value="MEMBER">{{ 'Member' | translate }}</option>
            <option value="POTENTIAL_MEMBER">{{ 'Potenial Member' | translate }}</option>
            <option value="SPONSOR">{{ 'Sponsor' | translate }}</option>
            <option value="SUPPLIER">{{ 'Supplier' | translate }}</option>
            <option value="SUPPORTER">{{ 'Supporter' | translate }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-0">
        <div class="col-sm-12 text-right">
          <button type="button" (click)="searchClicked()" class="btn btn-primary btn-sm" id="saveOrg" [disabled]="loading">
            <ng-container *ngIf="!loading">{{'Search' | translate}}</ng-container>
            <ng-container *ngIf="loading">
              <ws-spinner></ws-spinner>
            </ng-container>
          </button>&nbsp;
        </div>
      </div>
    </fieldset>
  </div>
</div>
