<h2 class="mt-0">
  <ng-container *ngIf="!initialized">{{'Loading, please wait...' | translate}}</ng-container>
  <ng-container *ngIf="initialized">
    {{'Add new member' | translate}}
  </ng-container>
</h2>
<div class="clearfix"></div>

<ng-container *ngIf="initialized">
  <div class="row mt-2">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-9">
      <form class="form-horizontal" [ngClass]="{'was-validated': this.form.submitted}" novalidate
        (ngSubmit)="submitForm()" #form="ngForm">
        <app-panel-header title="{{'Member info' | translate}}"></app-panel-header>
        <app-panel title="{{'Member info' | translate}}">
          <div class="container">
            <app-panel-row>
              <ng-container left>
                {{'Name' | translate}}&nbsp;*
              </ng-container>
              <ng-container right>
                <input class="form-control" name="name" placeholder="{{'Name' | translate}}" [ngModel]="null"
                  required />
              </ng-container>
            </app-panel-row>
            <app-panel-row>
              <ng-container left>
                {{'Member code' | translate}}&nbsp;*
              </ng-container>
              <ng-container right>
                <input class="form-control" name="code" placeholder="{{'XX' | translate}}" [ngModel]="null" required />
              </ng-container>
            </app-panel-row>
            <app-panel-row>
              <ng-container left>
                {{'Organization' | translate}}&nbsp;*
              </ng-container>
              <ng-container right>
                <div>
                  <input type="radio" name="existingOrg" value="false" (change)="existingOrg = false; noOrg = false;" [checked]="!existingOrg" />&nbsp;<span [ngStyle]="{'font-weight': existingOrg && !noOrg ? 'normal' : 'bold' }">{{'New organization' | translate}}</span>
                  &nbsp;
                  <input type="radio" name="existingOrg" value="true" (change)="existingOrg = true; noOrg = false;" [checked]="existingOrg" />&nbsp;<span [ngStyle]="{'font-weight': existingOrg && !noOrg ? 'bold' : 'normal' }">{{'Existing organization' | translate}}</span>
                  &nbsp;
                  <input type="radio" name="existingOrg" value="false" (change)="existingOrg = false; noOrg = true" [checked]="noOrg" />&nbsp;<span [ngStyle]="{'font-weight': !noOrg ? 'normal' : 'bold' }">{{'No organization' | translate}}</span>
                </div>
                <hr style="margin-top: 5px; margin-bottom: 5px;" />
                <div *ngIf="noOrg">
                  <em>No organization entity will be created.</em>
                </div>
                <div *ngIf="!existingOrg && !noOrg">
                  <em>A new organization entity will be created.</em>
                </div>
                <div *ngIf="existingOrg && !noOrg">
                  Please select an existing organization entity:
                  <ng-select [wsSelect]="['id', 'name.text']" name="organization" [ngModel]="null"
                    placeholder="{{'Organization' | translate}}" [items]="organizations || []" [disabled]="loading"
                    required></ng-select>
                </div>
              </ng-container>
            </app-panel-row>
          </div>
        </app-panel>
        <app-panel-header title="{{'Membership' | translate}}"></app-panel-header>
        <app-panel title="{{'Membership' | translate}}">
          <div class="container">
            <app-panel-row>
              <ng-container left>
                {{'Member of' | translate}}&nbsp;*
              </ng-container>
              <ng-container right>
                <ng-select [wsSelect]="['id', 'name.text']" name="id" [ngModel]="null"
                  placeholder="{{'Member of' | translate}}" [items]="members || []" [disabled]="loading" required>
                </ng-select>
              </ng-container>
            </app-panel-row>
            <app-panel-row>
              <ng-container left>
                {{'Status' | translate}}&nbsp;*
              </ng-container>
              <ng-container right>
                <app-membership-select [name]="'status'" [ngModel]="'FULL'" [disabled]="loading"></app-membership-select>
              </ng-container>
            </app-panel-row>
            <app-panel-row>
              <ng-container left>
                {{'Year joined' | translate}}&nbsp;*
              </ng-container>
              <ng-container right>
                <input type="text" placeholder="{{'YYYY' | translate}}" class="form-control" name="year_joined"
                  [ngModel]="null" required>
              </ng-container>
            </app-panel-row>
          </div>
        </app-panel>
        <ng-container *ngIf="hasMembers">
          <app-panel-header title="{{'Country' | translate}}"></app-panel-header>
          <app-panel title="{{'Country' | translate}}">
            <div class="container">
              <app-panel-row>
                <ng-container left>
                  {{'Member represents' | translate}}&nbsp;*
                </ng-container>
                <ng-container right>
                  <ng-select [wsSelect]="['id', 'name.text']" name="member_country" [ngModel]="null"
                    placeholder="{{'Member represents' | translate}}" [items]="countries || []" [disabled]="loading"
                    required></ng-select>
                </ng-container>
              </app-panel-row>
            </div>
          </app-panel>
        </ng-container>
        <button type="submit" class="btn btn-success float-right my-1">
          {{'Create Member' | translate}}
        </button>
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!initialized">
  <ws-spinner></ws-spinner>
</ng-container>
