/* You can add global styles to this file, and also import other style files */
.component-pager .pagination {
  margin: 0;
}

.small .form-control {
  font-size: 100%;
  font-weight: 400;
}

form.was-validated ng-select.ng-invalid .ng-select-container {
  border-color: #cc2216;
}

form.was-validated ng-select.ng-valid .ng-select-container {
  border-color: #379d44;
}

ul {
  list-style-position: inside;
}
