<div class="add_contact_list">
	<h2 translate>ChangeOrg</h2>
	
	<alerts></alerts>
	
	<div class="row">
		<ws-spinner ng-show='searchingOrg' class='bigSpinner col-sm-9'></ws-spinner>
		<div class="col-md-9" ng-hide="searchingOrg">
			<div class="table-responsive">
				<table class="table table-striped ">
					<colgroup>
						<col width="90%" />
						<col width="10%" />
					</colgroup>
					<thead>
						<tr>
							<th><span translate>Name</span></th>
							<th/>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="org in orgs.org_list">
							<td>{{org.name.text}}</td>
							<td><button class='btn btn-xs btn-success' ng-click="chooseOrg(org.id);">Save</button></td>
						</tr>
						<tr ng-show="people.total_count == 0">
							<td colspan="2"><span translate>NoOrgs</span></td>
						</tr>
	
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2"></td>
						</tr>
					</tfoot>
				</table>
	
				<span class="pull-right"><pagination total-items="orgs.total_count" page="current_org_page"
					items-per-page='org_items_per_page' class="pagination-small"
					boundary-links="true" rotate="false" max-size="5"
					on-select-page="changePage(page)"></pagination></span>
			</div>
		</div>
		<div class="col-md-3 sidebar" role="navigation">
			<form name="form" novalidate ng-controller="OrgFilterController">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <a class="pull-right" href="" ng-click="clearFilter()">Clear</a>
	                    <h3 class="panel-title" translate>Filter</h3>
	                </div>
	                <div class="panel-body">
	                    <form role="form">
	                    	<div class="form-group">
	                            <label for="name" translate>Name</label>
	                            <input ng-model="searchFilter.name" class="form-control input-sm" id="name"/>
	                        </div>
	                        <a ng-click="filterResults()" class="btn btn-primary pull-right" ng-disabled="searchingPeople"><span translate>SetFilter</span><spinner ng-show="searchingPeople" class="ng-hide"></spinner></a>
	                    </form>
	                </div>
	            </div>
	        </form>
		</div>
	</div>
</div>