<div class='panel panel-default'>
	<div class='panel-heading' translate>PhoneNums</div>
	<div class='panel-body'>
		<div class="form-group">
		    <div class="col-md-12">
	        	<ul class='list-padding'>
	        		<li class='row'>
	        			<div class='col-xs-3'><strong translate>Country</strong></div>
	        			<div class='col-xs-1'><strong translate>Prefix</strong></div>
	        			<div class='col-xs-4'><strong translate>Number</strong></div>
	        			<div class='col-xs-2'><strong translate>Type</strong></div>
	        			<div class='col-xs-2'></div>
	        		</li>	        		
	        		<li ng-repeat="phone in member.phones">
	        			<div class='row'>	        				
	        				<div class='col-xs-3'>{{phone.country.name.text}}</div>	        			
	        				<div class='col-xs-1'>+{{phone.country.prefix}}</div>
	        				<div class='col-xs-4'>{{phone.phone_number}}</div>
	        				<div class='col-xs-2'>{{phone.phone_type.name}}</div>
	        				<div class='col-xs-2'>
	        					<span class='pull-right'>
	        						<button ng-click="removePhone(phone.id)" class='btn btn-xs btn-danger' ng-disabled="savingPhones"><span class='glyphicon glyphicon-remove'></span></button>
	        					</span>
	        				</div>
	        			</div>
	        		</li>
	        		<li ng-show="user.hasPermission('Admin') || user.hasPermission('EditMember')">
	        			<div class='row' ng-show="!showPhoneForm">
	        				<div class='col-xs-3'><a ng-click="showPhoneForm = !showPhoneForm" href="" class='small'><span class='glyphicon glyphicon-plus'></span> <span translate>AddPhone</span></a></div>
	        			</div>
	        			<div class='row' ng-show="showPhoneForm">
	        				<form class="form-horizontal" name="new_phone" novalidate focus-error>
		        				<div class='col-xs-3'>
		        					<select ui-select2="select2Config" data-placeholder="Select country" name='country' required ng-model='newPhone.country' class='phoneCountrySelect small'>
						        		<option value=''></option>
						        		<option ng-repeat="country in allCountries" value="{{country.id}}">{{country.name.text}}</option>
						        	</select>
		        				</div>	        			
		        				<div class='col-xs-1'>{{newPrefix !== undefined ? '+' : ''}}{{newPrefix}}</div>
		        				<div class='col-xs-4'><input class="form-control input-sm" required id="phone_number" ng-model="newPhone.phone_number"></div>
		        				<div class='col-xs-2'>
		        					<select ui-select2="select2Config" data-placeholder="Select phone type" name='type' required ng-model='newPhone.type' class='phoneCountrySelect small'>
						        		<option value=''></option>
						        		<option ng-repeat="type in phoneTypes" value="{{type.id}}">{{type.name}}</option>
						        	</select></div>
		        				<div class='col-xs-2'>
		        					
		        				</div>
		        				
		        			</form>
	        			</div>
	        			<div class='row' ng-show="showPhoneForm">
	        				<div class='col-xs-12 col-sm-3 field-padding profile-button-padding'>
					           	&nbsp;<button class='btn btn-sm btn-success' ng-click="addPhone();" ng-disabled="savingPhones || new_phone.country.$error.required || new_phone.phone_number.$error.required || new_phone.type.$error.required">Save</button>
					           	&nbsp;<button class='btn btn-sm btn-warning' ng-click="showPhoneForm = !showPhoneForm" ng-disabled="savingPhones">Cancel</span></button>
					        </div>
	        			</div>
	        		</li>		        		        
	        	</ul>
	        </div>
	    </div>
	</div>
</div>