<div class='panel panel-default'>
	<div class='panel-heading' translate>SocMedia</div>
	<div class='panel-body'>
		<div class="form-group">
		    <div class="col-md-12">
	        	<ul class='list-padding'>
	        		<li class='row'>
	        			<div class='col-xs-2'><strong translate>Type</strong></div>
	        			<div class='col-xs-3'><strong translate>Ident</strong></div>
	        			<div class='col-xs-6'><strong translate>Link</strong></div>
	        			<div class='col-xs-1'></div>
	        		</li>	        		
	        		<li ng-repeat="social in member.social_networks">
	        			<div class='row'>	        				
	        				<div class='col-xs-2'>{{social.social_network.name}}</div>	        			
	        				<div class='col-xs-3'>{{social.social_network_identifier}}</div>
	        				<div class='col-xs-6'><a href='{{getSocialLink($index)}}' target='_new'>{{getSocialLink($index)}}</a></div>
	        				<div class='col-xs-1'>
	        					<span class='pull-right'>
	        						<button ng-click="removeSocMedia(social.id)" class='btn btn-xs btn-danger' ng-disabled="savingSocMedia"><span class='glyphicon glyphicon-remove'></span></button>
	        					</span>
	        				</div>
	        			</div>
	        		</li>
	        		<li ng-show="user.hasPermission('Admin') || user.hasPermission('EditMember')">
	        			<div class='row' ng-show="!showSocMediaForm">
	        				<div class='col-xs-3'><a ng-click="showSocMediaForm = !showSocMediaForm" href="" class='small'><span class='glyphicon glyphicon-plus'></span> <span translate>AddSocialMedia</span></a></div>
	        			</div>
	        			<div class='row' ng-show="showSocMediaForm">
	        				<form class="form-horizontal" name="new_social_media" novalidate focus-error>
		        				<div class='col-xs-2'>
		        					<select ui-select2="select2Config" data-placeholder="Select social network" name='network' required ng-model='newSocMedia.social_network' class='socialNetworkSelect small'>
						        		<option value=''></option>
						        		<option ng-repeat="network in socialNetworks" value="{{network.id}}">{{network.name}}</option>
						        	</select>
		        				</div>	        			
		        				<div class='col-xs-4'><input class="form-control input-sm" required id="identifier" ng-model="newSocMedia.identifier"></div>
		        				<div class='col-xs-5'></div>
		        				<div class='col-xs-1'>
		        					
		        				</div>
		        				
		        			</form>
	        			</div>
	        			<div class='row' ng-show="showSocMediaForm">
	        				<div class='col-xs-12 col-sm-3 field-padding profile-button-padding'>
					           	&nbsp;<button class='btn btn-sm btn-success' ng-click="addSocMedia();" ng-disabled="savingSocMedia || new_social_media.social_network.$error.required || new_social_media.identifier.$error.required">Save</button>
					           	&nbsp;<button class='btn btn-sm btn-warning' ng-click="showSocMediaForm = !showSocMediaForm" ng-disabled="savingSocMedia">Cancel</span></button>
					        </div>
	        			</div>
	        		</li>		        		        
	        	</ul>
	        </div>
	    </div>
	</div>
</div>