<ol class="breadcrumb">
    <li><a ui-sref="member_list" translate>Members</a></li>
    <li><a ui-sref="member.info({member_id:member.id})">{{member.name.text}}</a></li>
    <li class="active">{{pageName}}</li>
</ol>

<alerts></alerts>

<h1>{{member.name.text}}</h1>
<div class='row'>
	<div class="col-sm-3 col-md-2 sidebar">        
		<div class="list-group">			      
            <a ui-sref-active='active' class="list-group-item" ui-sref='member.info' translate>MemberInfo</a>
            <a ui-sref-active='active' class="list-group-item" ui-sref='member.org' translate>Organization</a>
    	 	<a ui-sref-active='active' class="list-group-item" ui-sref='member.membership' translate>Membership</a>
            <a ui-sref-active='active' class="list-group-item" ui-sref='member.contacts' translate>Contacts</a>
            <a ui-sref-active='active' class="list-group-item" ui-sref='member.addresses' translate>Addresses</a>
            <a ui-sref-active='active' class="list-group-item" ui-sref='member.websites' translate>Websites</a>
            <a ui-sref-active='active' class="list-group-item" ui-sref='member.phones' translate>PhoneNums</a>
            <!-- <a ui-sref-active='active' class="list-group-item" ui-sref='member.social' translate>SocialMedia</a> -->
    	 </div>
     </div>
    <div class="col-sm-9 col-md-10" id="content" ui-view=""></div>        
    <div>
	    <p class="pull-right">
	        <!-- <button ng-click="saveEvent()" class="btn btn-success" id="deleteEntry">Save changes<spinner ng-show="saveLoading" class="ng-hide"></spinner></button>
	        <button ng-click="saveEvent()" class="btn btn-warning" id="deleteEntry">Reset changes<spinner ng-show="saveLoading" class="ng-hide"></spinner></button> -->
	    </p>
	</div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<hr>
