<ol class="breadcrumb">
    <li><a ui-sref="member_list" translate>Members</a></li>
    <li class="active">{{member.name.text}}</li>
</ol>

<alerts></alerts>

<div class="row">
	<div class="col-md-11 ">
		<div class='panel panel-default'>
			<div class='panel-heading' translate>MemberInfo</div>
			<div class='panel-body'>
				<form class="form-horizontal" name="form" role="form">
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" translate>Name</label>
						<div class="col-sm-9">
							<input class="form-control" id="name" placeholder="Name" ng-model="member.name.text">
						</div>
					</div>
					<div class="form-group">
						<label for="memCode" class="col-sm-3 control-label" translate>MemCode</label>
						<div class="col-sm-9">
							<input class="form-control" id="memCode" placeholder="XX" ng-model="member.code">
						</div>
					</div>
					<div class="form-group">
						<label for="name1058" class="col-sm-3 control-label" translate>Name1058</label>
						<div class="col-sm-9">
							<input class="form-control" id="name1058" placeholder="Name" ng-model="member.name_1058.text">
						</div>
					</div>
					<div class="form-group">
						<label for="flag" class="col-sm-3 control-label" translate>Flag</label>
						<div class="col-sm-5">
							<img ng-src="{{member.flag.links[1].href}}" class="flag" />
						</div>
						<div class="col-sm-4">
							<div class="file_upload_drop_zone" nv-file-drop nv-file-over uploader="uploader">
							<span ng-show="uploader.queue.length == 0">Drop file here</span>
							<span ng-repeat="item in uploader.queue">{{item.file.name}}<a ng-click="clearUploadQueue()" class="btn-sm btn-danger clickable pull-right"><span translate>Remove</span></a><br/></span>
							</div>
							OR
							<input type="file" nv-file-select uploader="uploader">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-3"></div>
						<div class="col-sm-9">
							<a ng-click="saveMemberInfo()" class="btn btn-success clickable" ng-disabled="savingMember"><span translate>Save</span></a>
						</div>
					</div>
				</form>
			</div>
		</div>
		
		<div class='panel panel-default'>
			<div class='panel-heading' translate>Membership</div>
			<div class='panel-body'>
				<div class="form-group">
				    <div class="col-md-12">
			        	<ul class='list-padding'>
			        		<li class='row'>
			        			<div class='col-xs-5'><strong translate>MemberOf</strong></div>
			        			<div class='col-xs-3'><strong translate>Status</strong></div>
			        			<div class='col-xs-3'><strong translate>YrJoined</strong></div>
			        			<div class='col-xs-1'></div>
			        		</li>	        		
			        		<li ng-repeat="mship in member.member_of">
			        			<div class='row'>	        				
			        				<div class='col-xs-5'>{{mship.name.text}}</div>	        			
			        				<div class='col-xs-3'>
			        					<span ng-show="editMem !== $index">{{mship.status.name}}</span>
			        					<span ng-show="editMem === $index">
			        						<select ui-select2="select2Config" data-placeholder="Select status" name='status_id{{$index}}' ng-model='member.member_of[$index].status.id' class='filterSelect small'>
						        				<option ng-repeat="status in memStatusList" value="{{status.id}}">{{status.name}}</option>
						        			</select>
			        					</span>
			        				</div>
			        				<div class='col-xs-2'>
			        					<span ng-show="editMem !== $index">{{mship.year_joined}}</span>
			        					<span ng-show="editMem === $index">
			        						<input class="form-control input-sm" id="year_joined{{$index}}" placeholder="YYYY" ng-model="member.member_of[$index].year_joined">
			        					</span>
			        				</div>
			        				<div class='col-xs-2'>
			        					<span class='pull-right' ng-show="editMem !== $index">
			        						<button ng-click="editMembership($index)" class='btn btn-xs btn-warning'><span class='glyphicon glyphicon-edit'></span></button>
			        						&nbsp;<button ng-click="removeMembership(mship.id)" class='btn btn-xs btn-danger' ng-disabled="savingMemberships"><span class='glyphicon glyphicon-remove'></span></button>
			        					</span>
			        					<span class='pull-right' ng-show="editMem === $index">
			        						<button class='btn btn-xs btn-success' ng-click="updateMembership();" ng-disabled="savingMemberships">Save</button>
			        					</span>
			        				</div>
			        			</div>
			        		</li>
			        		<li ng-show="user.hasPermission('Admin') || user.hasPermission('EditMember')">
			        			<div class='row' ng-show="showMembershipForm === false">
			        				<div class='col-xs-3'><a ng-click="showMembershipForm = !showMembershipForm" href="" class='small'><span class='glyphicon glyphicon-plus'></span> <span translate>AddMShip</span></a></div>
			        			</div>
			        			<div class='row' ng-show='showMembershipForm !== false'>
					        		<form class="form-horizontal" name="new_membership" novalidate focus-error>						            		        		
						        		<div class='col-xs-12 col-sm-5 field-padding'>
							        		<select ui-select2="select2Config" name='mship_member' required ng-model='newMShip.member_id' class='filterSelect small'>
						        				<option value=''></option>
						        				<option ng-repeat="member in allMembers" value="{{member.id}}">{{member.name.text}}</option>
						        			</select>
						        		</div>
						        		<div class='col-xs-12 col-sm-3 field-padding hover-icon-container'>
						        			<select ui-select2="select2Config" data-placeholder="Select status" name='status_id' required ng-model='newMShip.status' class='filterSelect small'>
						        				<option value=''></option>
						        				<option ng-repeat="status in memStatusList" value="{{status.id}}">{{status.name}}</option>
						        			</select>
						            	</div>	            	
						            	<div class='col-xs-12 col-sm-3 field-padding hover-icon-container'>
							            	<input class="form-control input-sm" id="year_joined" placeholder="YYYY" required ng-model="newMShip.year_joined">
						        		</div>
					            	</form>
					            </div>
					            <div class='row' ng-show='showMembershipForm !== false'>
					            	<div class='col-xs-12 col-sm-3 field-padding profile-button-padding'>
					            		&nbsp;<button class='btn btn-sm btn-success' ng-click="addMembership();" ng-disabled="savingMemberships || new_membership.mship_member.$error.required || new_membership.status_id.$error.required || new_membership.year_joined.$error.required">Save</button>
					            		&nbsp;<button class='btn btn-sm btn-warning' ng-click="showMembershipForm = !showMembershipForm" ng-disabled="savingMemberships">Cancel</span></button>
					            	</div>
					            </div>
			        		</li>		        		        
			        	</ul>
			        </div>
			    </div>
			</div>
		</div>
		
		<div class='panel panel-default'>
			<div class='panel-heading' translate>Contacts</div>
			<div class='panel-body'>
				<div class="form-group">
				    <div class="col-md-12">
			        	<ul class='list-padding'>
			        		<li class='row'>
			        			<div class='col-xs-3'><strong translate>FirstName</strong></div>
			        			<div class='col-xs-3'><strong translate>LastName</strong></div>
			        			<div class='col-xs-3'><strong translate>Email</strong></div>
			        			<div class='col-xs-3'></div>
			        		</li>	        		
			        		<li ng-repeat="contact in member.contacts">
			        			<div class='row'>	        				
			        				<div class='col-xs-3'>{{contact.first_name}}</div>	        			
			        				<div class='col-xs-3'>{{contact.last_name}}</div>
			        				<div class='col-xs-3'>{{contact.email}}</div>
			        				<div class='col-xs-3'>
			        					<span class='pull-right'>
			        						<button ng-click="removeContact(contact.id)" class='btn btn-xs btn-danger' ng-disabled="savingContacts"><span class='glyphicon glyphicon-remove'></span></button>
			        					</span>
			        				</div>
			        			</div>
			        		</li>
			        		<li ng-show="user.hasPermission('Admin') || user.hasPermission('EditMember')">
			        			<div class='row'>
			        				<div class='col-xs-3'><a ng-click="showContactForm()" href="" class='small'><span class='glyphicon glyphicon-plus'></span> <span translate>AddContact</span></a></div>
			        			</div>
			        		</li>		        		        
			        	</ul>
			        </div>
			    </div>
			</div>
		</div>
		
		
		<div class='panel panel-default'>
			<div class='panel-heading' translate>Organization</div>
			<div class='panel-body'>
				<div class="form-group">
					<div class='row' ng-show="member.organization">
						<div class='col-xs-12'>
							<div class='col-xs-2'><strong translate>Name</strong></div>
							<div class='col-xs-8'>
								<span ng-show="!editOrg">{{member.organization.name.text}}</span>
								<span ng-show="editOrg">
	        						<input class="form-control input-sm" id="name" ng-model="member.organization.name.text">
	        					</span>
							</div>
							<div class='col-xs-2'>
								<span class='pull-right' ng-show="!editOrg">
									<button ng-click="editOrg = !editOrg" class='btn btn-xs btn-warning'><span class='glyphicon glyphicon-edit'></span></button>
				        		</span>
				        		<span class='pull-right' ng-show="editOrg">
				        			<button class='btn btn-xs btn-success' ng-click="updateOrg();" ng-disabled="savingOrg">Save</button>
				        		</span>
							</div>
						</div>
						<div class='col-xs-12'>
							<div class='col-xs-2'><strong translate>Website</strong></div>
							<div class='col-xs-8'>
								<span ng-show="!editOrg">{{member.organization.websites[0].url}}</span>
								<span ng-show="editOrg">
	        						<input class="form-control input-sm" id="website" ng-model="member.organization.websites[0].url">
	        					</span>
							</div>
							<div class='col-xs-2'></div>
						</div>
					</div>
					
					<div class='row'>
						<div class='col-xs-12'>
							<div class='col-xs-10 note'>
								<span translate class=''>OrgNote</span>
							</div>
						</div>
					</div>
				
					<div class='row'><div class='col-xs-12'><hr/></div></div>
					
					<div class='row' ng-show="user.hasPermission('Admin') || user.hasPermission('EditMember')">
	        			<div ng-show="showOrgForm === false" class='col-xs-12'>
	        				<a ng-click="showOrgForm = !showOrgForm" href="" class='small'><span class='glyphicon glyphicon-plus'></span> <span translate>NewOrg</span></a>
	        				&nbsp;&nbsp;<a ng-click="showChooseOrgForm()" href="" class='small'><span class='glyphicon glyphicon-refresh'></span> <span translate>ChangeOrg</span></a>
	        			</div>
	        			<span ng-show='showOrgForm'>
			        		<form class="form-horizontal" name="new_org" novalidate focus-error>						            		        		
				        		<div class='col-xs-12'>
									<div class='col-xs-2'><strong translate>Name</strong></div>
									<div class='col-xs-8'>
										<input class="form-control input-sm" required id="name" ng-model="newOrg.name">
			        				</div>
								</div>
								<div class='col-xs-12'>
									<div class='col-xs-2'><strong translate>Website</strong></div>
									<div class='col-xs-8'>
											<input class="form-control input-sm" id="website" ng-model="newOrg.url">
			        				</div>
								</div>
							</form>
			            	<div class='col-xs-12 col-sm-3 field-padding profile-button-padding'>
			            		&nbsp;<button class='btn btn-sm btn-success' ng-click="createNewOrg();" ng-disabled="savingOrg || new_org.name.$error.required">Save</button>
			            		&nbsp;<button class='btn btn-sm btn-warning' ng-click="showOrgForm = !showOrgForm" ng-disabled="savingOrg">Cancel</button>
			            	</div>
			            </span>
			        </div>
				</div>
			</div>
		</div>
		
		
		<div class='panel panel-default'>
			<div class='panel-heading' translate>Addrs</div>
			<div class='panel-body'>
				<div class="form-group">
					<div class='row' ng-repeat="address in member.addresses">
						<div class='col-xs-12'>
							<div class='col-xs-2'><strong translate>Ln1</strong></div>
							<div class='col-xs-8'>
								<span ng-show="editAddr !== $index">{{address.line1}}</span>
								<span ng-show="editAddr === $index">
	        						<input class="form-control input-sm" id="line1_{{$index}}" ng-model="member.addresses[$index].line1">
	        					</span>
							</div>
							<div class='col-xs-2'>
								<span class='pull-right' ng-show="editAddr !== $index">
									<button ng-click="editAddress($index)" class='btn btn-xs btn-warning'><span class='glyphicon glyphicon-edit'></span></button>
				        			&nbsp;<button ng-click="removeAddress(address.id)" class='btn btn-xs btn-danger' ng-disabled="savingAddress"><span class='glyphicon glyphicon-remove'></span></button>
				        		</span>
				        		<span class='pull-right' ng-show="editAddr === $index">
				        			<button class='btn btn-xs btn-success' ng-click="updateAddress();" ng-disabled="savingAddress">Save</button>
				        		</span>
							</div>
						</div>
						<div class='col-xs-12'>
							<div class='col-xs-2'><strong translate>Ln2</strong></div>
							<div class='col-xs-8'>
								<span ng-show="editAddr !== $index">{{address.line2}}</span>
								<span ng-show="editAddr === $index">
	        						<input class="form-control input-sm" id="line2_{{$index}}" ng-model="member.addresses[$index].line2">
	        					</span>
							</div>
							<div class='col-xs-2'></div>
						</div>
						<div class='col-xs-12'>
							<div class='col-xs-2'><strong translate>Ln3</strong></div>
							<div class='col-xs-8'>
								<span ng-show="editAddr !== $index">{{address.line3}}</span>
								<span ng-show="editAddr === $index">
	        						<input class="form-control input-sm" id="line3_{{$index}}" ng-model="member.addresses[$index].line3">
	        					</span>
							</div>
							<div class='col-xs-2'></div>
						</div>
						<div class='col-xs-12'>
							<div class='col-xs-2'><strong translate>Ln4</strong></div>
							<div class='col-xs-8'>
								<span ng-show="editAddr !== $index">{{address.line4}}</span>
								<span ng-show="editAddr === $index">
	        						<input class="form-control input-sm" id="line4_{{$index}}" ng-model="member.addresses[$index].line4">
	        					</span>
							</div>
							<div class='col-xs-2'></div>
						</div>
						<div class='col-xs-12'>
							<div class='col-xs-2'><strong translate>City</strong></div>
							<div class='col-xs-8'>
								<span ng-show="editAddr !== $index">{{address.city}}</span>
								<span ng-show="editAddr === $index">
	        						<input class="form-control input-sm" id="city_{{$index}}" ng-model="member.addresses[$index].city">
	        					</span>
							</div>
							<div class='col-xs-2'></div>
						</div>
						<div class='col-xs-12'>
							<div class='col-xs-2'><strong translate>ZipCode</strong></div>
							<div class='col-xs-8'>
								<span ng-show="editAddr !== $index">{{address.zip_code}}</span>
								<span ng-show="editAddr === $index">
	        						<input class="form-control input-sm" id="zip_code_{{$index}}" ng-model="member.addresses[$index].zip_code">
	        					</span>
							</div>
							<div class='col-xs-2'></div>
						</div>
						<div class='col-xs-12'>
							<div class='col-xs-2'><strong translate>Country</strong></div>
							<div class='col-xs-8'>{{address.country.name.text}}</div>
							<div class='col-xs-2'></div>
						</div>
						<div class='col-xs-12'><hr/></div>
					</div>
				
				
					<div class='row' ng-show="user.hasPermission('Admin') || user.hasPermission('EditMember')">
	        			<div ng-show="showNewAddressForm === false" class='col-xs-12'><a ng-click="showNewAddressForm = !showNewAddressForm" href="" class='small'><span class='glyphicon glyphicon-plus'></span> <span translate>AddAddress</span></a></div>
	        			<span ng-show='showNewAddressForm !== false'>
			        		<form class="form-horizontal" name="new_address" novalidate focus-error>						            		        		
				        		<div class='col-xs-12'>
									<div class='col-xs-2'><strong translate>Ln1</strong></div>
									<div class='col-xs-10'><input class="form-control input-sm" required id="line1" ng-model="newAddr.line1"></div>
								</div>
								<div class='col-xs-12'>
									<div class='col-xs-2'><strong translate>Ln2</strong></div>
									<div class='col-xs-10'><input class="form-control input-sm" id="line2" ng-model="newAddr.line2"></div>
								</div>
								<div class='col-xs-12'>
									<div class='col-xs-2'><strong translate>Ln3</strong></div>
									<div class='col-xs-10'><input class="form-control input-sm" id="line3" ng-model="newAddr.line3"></div>
								</div>
								<div class='col-xs-12'>
									<div class='col-xs-2'><strong translate>Ln4</strong></div>
									<div class='col-xs-10'><input class="form-control input-sm" id="line4" ng-model="newAddr.line4"></div>
								</div>
								<div class='col-xs-12'>
									<div class='col-xs-2'><strong translate>City</strong></div>
									<div class='col-xs-10'><input class="form-control input-sm" id="city" ng-model="newAddr.city"></div>
								</div>
								<div class='col-xs-12'>
									<div class='col-xs-2'><strong translate>ZipCode</strong></div>
									<div class='col-xs-10'><input class="form-control input-sm" id="zip_code" ng-model="newAddr.zip_code"></div>
								</div>
								<div class='col-xs-12'>
									<div class='col-xs-2'><strong translate>Country</strong></div>
									<div class='col-xs-10'>
										<select ui-select2="select2Config" data-placeholder="Select country" name='country' required ng-model='newAddr.country' class='filterSelect small'>
					        				<option value=''></option>
					        				<option ng-repeat="country in allCountries" value="{{country.code}}">{{country.name.text}}</option>
					        			</select>
									</div>
								</div>
							</form>
			            	<div class='col-xs-12 col-sm-3 field-padding profile-button-padding'>
			            		&nbsp;<button class='btn btn-sm btn-success' ng-click="addAddress();" ng-disabled="savingAddress || new_address.line1.$error.required">Save</button>
			            		&nbsp;<button class='btn btn-sm btn-warning' ng-click="showNewAddressForm = !showNewAddressForm" ng-disabled="savingAddress">Cancel</button>
			            	</div>
			            </span>
			        </div>
				</div>
			</div>
		</div>
		
		
	</div>
</div>