<div class="new-member-modal">
	<h2 translate>NewMember</h2>
	
	<alerts></alerts>
	
	<div class="row modal-padding">
		<div class='panel panel-default'>
			<div class='panel-heading' translate>MemberInfo</div>
			<div class='panel-body'>
				<form class="form-horizontal" name="form" role="form">
					<div class="form-group">
						<label for="name" class="col-sm-3 control-label" translate>Name</label>
						<div class="col-sm-9">
							<input class="form-control" id="name" placeholder="Name" ng-model="newMember.name">
						</div>
					</div>
					<div class="form-group">
						<label for="memCode" class="col-sm-3 control-label" translate>MemCode</label>
						<div class="col-sm-9">
							<input class="form-control" id="memCode" placeholder="XX" ng-model="newMember.code">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="row modal-padding">
		<div class='panel panel-default'>
			<div class='panel-heading' translate>Membership</div>
			<div class='panel-body'>
				<form class="form-horizontal" name="membership_form" role="form">
					<div class="form-group">
						<label for="memberOf" class="col-sm-3 control-label" translate>MemberOf</label>
						<div class="col-sm-9">
							<select ui-select2="select2Config" name='memberOf' required ng-model='newMember.parent_id' class='filterSelect small'>
						    	<option value=''></option>
						    	<option ng-repeat="member in editableMembers" value="{{member.id}}">{{member.name.text}}</option>
						    </select>
						</div>
					</div>
					<div class="form-group">
						<label for="status" class="col-sm-3 control-label" translate>Status</label>
						<div class="col-sm-9">
							<select ui-select2="select2Config" data-placeholder="Select status" name='status_id' required ng-model='newMember.status' class='filterSelect small'>
						    	<option value=''></option>
						        <option ng-repeat="status in memStatusList" value="{{status.id}}">{{status.name}}</option>
						    </select>
						</div>
					</div>
					<div class="form-group">
						<label for="year" class="col-sm-3 control-label" translate>YrJoined</label>
						<div class="col-sm-9">
							<input class="form-control" id="year" placeholder="YYYY" ng-model="newMember.year">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="row modal-padding" ng-show='showCountryForm'>
		<div class='panel panel-default'>
			<div class='panel-heading' translate>Country</div>
			<div class='panel-body'>
				<form class="form-horizontal" name="country_form" role="form">
					<div class="form-group">
						<label for="country" class="col-sm-3 control-label" translate>MemberRep</label>
						<div class="col-sm-9">
							<select ui-select2="select2Config" name='country' ng-model='newMember.country_id' class='filterSelect small'>
						    	<option value=''></option>
						    	<option ng-repeat="country in allCountries | countryWithoutMember" value="{{country.id}}">{{country.name.text}}</option>
						    </select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="row modal-padding">
		<div class="text-center">
			<a ng-click="createMember()" class="btn btn-success" ng-disabled="savingMember"><span translate>CreateMem</span></a>
		</div>
	</div>
</div>